
.body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
height: 900px;
background: -webkit-linear-gradient(to right, hwb(150 21% 78% / 0.603), hsla(165, 91%, 21%, 0.411)), url(../imagenes/fondomujer.jpg); 
background: linear-gradient(to right, hwb(160 15% 84% / 0.603), hsla(160, 86%, 23%, 0.438)), url(../imagenes/fondomujer.jpg);
background-size: cover;
background-attachment: fixed;
}

.elnav2 ul li {
    justify-content: space-between;
    text-align: center;
    display: inline-block;
    padding: 40px 50px;
}

.elnav2 ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.diseñoheader2 {
    font-family:'Prompt', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 28%;
    padding-right: 10%; 
}

.elnav ul li {
    justify-content: space-between;
    text-align: center;
    display: inline-block;
    padding: 20px 40px;
}

.elnav ul li a {
    color: white;
    text-decoration: none;
}

.elnav ul li a:hover {
    color: #2DAB96;
    transition: .3s;
}

header .textos-header {
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos-header h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    color: rgb(37, 35, 35);
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen.about-us {
    background-attachment: fixed;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 20px;
}

.contenido-textos h3 .span {
    background: #2DAB96;
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    color: white;
    padding: 0px 0px 30px 15px;
    font-weight: 500;
    text-align: justify;
    font-size: larger;
}


.portafolio { 
    background: #f2f2f2;
}

.titulo { 
    color:#0d0e0d;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.contenedor {
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 23%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(9, 170, 170, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #2DAB96;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding-left: 20px;
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 60%;
    display: block;
}

.cards .card > .contenido-texto-card {
    width: 60%;
    color: #fff;
    padding-left: 30px;
}

.cards .card > .contenido-texto-card p {
    font-weight:300;
    padding-top: 5px; 
}

.about-services {
    background: #f2f2f2;
    padding-bottom: 20px;
}

.servicio-cont {
    
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}


.servicio-ind img {
    width: 40%;
}

.servicio-ind h3 {
    margin: 15px 0;
}

.servicio-ind p {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 500;
    text-align: justify;
}


footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {

    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #2DAB96;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color:#9e9797
}

@media screen and (max-width:900px){
    .diseñoheader2 {
        background-position: center;
        flex-direction: column;
        justify-content: center;
    }



.contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sobre-nosotros .contenido-textos {
    width: 90%;
}

.imagen.about-us {
    width: 90%;
}

.imagen-port {
    width: 44%;
}

.cards{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cards .card {
    width: 90%;
}

.cards .card:first-child {
    margin-bottom: 30px;
}

.servicio-cont {
    justify-content: center;
    flex-direction: column;
}

.servicio-ind {
    width: 90%;
    text-align: center;
}

.servicio-ind:nth-child(1), .servicio-ind:nth-child(2) {
    margin-bottom:60px;
}
.servicio-ind img {
    width: 90%;
}
.contenedor-footer {
    flex-direction: column;
    width: 90%;
}

.content-foo {
    padding: 10px;
    width: 100%;
    font-size: larger;
}
}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }

    .imagen.about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;

    }

    .imagen-port{
        width: 95%;
    }

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    .contenedor-footer{
        flex-direction: column;
        border:none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 10px;
    }

    .titulo-final {
        font-size: 10px;
    }
}
















.adentro {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../imagenes/Minimalistanegro.png");
    background-attachment: fixed;
}


.form-login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-login {
    width: 400px;
    height: 340px;
    background: gray;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #2DAB96;
    color: white;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #2DAB96;
    margin-bottom: 15px;
    padding:  11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #2DAB96;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p{ 
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}

.footermicuenta {
    background: #414141;
    padding: 60px 0 30px 0;
    margin-top: 300px;
}

.contenedor-footer2 {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 60px;
    border-bottom: 2px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #2DAB96;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}


.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color:#9e9797
}

@media screen and (max-width:900px){
    header {
        background-position: center;
    }

    .diseñoheader2 {
        text-align: center;
        width: 85%;}}



















.bodycontacto{
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url(../imagenes/lamparita.jpg);
    background-repeat:no-repeat;
    width: 100%;
    background-position: 25% 50%;
}



.tittleprincipal {
    text-align: center;
    font-size: 2rem;
    padding: .5em 0 .4em;
    color: white;
    background-color: #000;
}



.portafolio2 { 
    background: rgb(49, 47, 47);
}

.tituloportafolio {
    padding: 20px;

}

.galeria-port2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port2 {
    width: 23%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(161, 154, 154, 0.5);
}

.imagen-port2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(144, 158, 158, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria2 img{
    width: 50px;
}

.hover-galeria2 p{
    color: #fff;
}

.imagen-port2:hover .hover-galeria2 {
    transform: scale(1);
}


.tituloubi {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    padding: .5em 0 .4em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}


.mapa {
    padding-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.cards2 {
    display: flex;
    justify-content: space-evenly;
}

.cards2 .card2 {
    background: #414141;
    display: flex;
    width: 25%;
    height: 200px;
    align-items: center;
    justify-content: space space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding-left: 20px;
}

.contenido-texto-card2 h4 {
    font-size: larger;
    text-align: center;
}

.cards2 .card2 > .contenido-texto-card2 {
    width: 90%;
    color: #fff;
    padding-left: 30px;
}

.cards2 .card2 > .contenido-texto-card2 p {
    font-weight:400;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width:950px){
    header {
        background-position: center;
    }

    .tittleprincipal {
        text-align: center;
        width: 100%;
    }

    .imagen-port2 {
    width: 44%;
    }

    .diseñoheader2 {
        width: 85%;
    }

    .bodycontacto {
        background-image: none;
    }

    .cards2{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .cards2 .card2 {
        width: 100%;
    }
    
    .cards2 .card2:first-child {
        margin-bottom: 30px;
    }}




















































.edicionmobile {
    background-image: url(../imagenes/logoiphone2.jpg); 
    background-repeat:no-repeat;
    width: 100%;
    background-position: 90% 1%;
    background-color: #000;
}




h1 span {
    transition: 1.5s ease;
    
}

h1:hover span:nth-child(1){
    margin-right: 20px;
}

h1:hover span:nth-child(2){
    margin-left: 40px;
}

h1:hover span {
    color: aliceblue;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff
}

h2 { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    border: 3px;
    cursor: pointer;
}

h2 span {
    transition: 1.5s ease;
    
}

h2:hover span:nth-child(1){
    margin-right: 20px;
}

h2:hover span:nth-child(2){
    margin-left: 40px;
}

h2:hover span {
    color: aliceblue;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff
}

.iphone12t {
    font-style: italic;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    position:relative;
    text-align: center;
    padding-bottom: 2%;
    top: 70px;
    width: 900px;
    left: 120px;
}

.caracteristica12 {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    padding-bottom: 2%;
    position:relative;
    text-align: left;
    top: 70px;
    width: 700px;
    left: 400px;
} 

.iphone12i {
    width: 30%;
    left: 50%;
    bottom: 35%;
}



.precioestilo{
    position: relative;
    text-align: center;
    top: 150px;
}

.button {
    background: linear-gradient(102deg, #2DAB96 45%, #aeb4b4 55% );
    color: #000;
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5 infinite;
}

@keyframes pulse {
    10% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

.iphone13t {
    font-style: italic;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    position:relative;
    text-align: center;
    padding-bottom: 2%;
    top: 70px;
    width: 900px;
    left: 120px;
}

.caracteristicas13 {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    position:relative;
    text-align: left;
    top: 70px;
    width: 700px;
    left: 250px;
}

.edicionimageniphone13 {
    display: flex;
    padding-top: 80px;
    left: 1000px;
    bottom: 325px;
    width: 44%;
    height: 525px;
}

.imagenapps {  
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    top: 145%;
    left: 55%;
    width: 35%;
}

.precioestilo2{
    position: relative;
    text-align: center;
    bottom: 350px;
}
.button2 {
    background: linear-gradient(102deg, #2DAB96 45%, #aeb4b4 55%);
    color: #000;
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5 infinite;
}

@keyframes pulse {
    10% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

@media screen and (max-width:900px){
    .edicionmobile {
        background-position: center;
        flex-direction: column;
        justify-content: center;
        background-image: none;
    }

.contenedor-iphone12 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}


    .iphone12t {
        width: 70%;
    padding: 0 10px 0 0;
    left: 15%;
}

.caracteristica12 {
    width: 100%; 
    left: 10%;
    padding-top: 20px;
}


.iphone12i {
    width: 100%;
    flex-direction: column;
    padding-top: 15px;
}


.iphone13t {
    width: 70%;
    padding: 0 10px 0 0;
    left: 15%;
}

.edicionimageniphone13 {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.imagenapps {
    position:fixed;
}

.caracteristicas13 {
    width: 83%; 
    left: 10%;
    padding-top: 20px;
}}













.bodysoporte{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 10vh;
    background: url(../imagenes/logoiphone.jpg) no-repeat ;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.titulo2 { 
    color:#2DAB96;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}




.bodysoporte .diseñoheader3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 30vh;
}

.contact-section {
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    max-width: 500px ;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info {
    margin-right: 20px;
    font-size: 25px;
}


.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info .contact-form {
    flex: 1;
}


.contact-form .titulosecu {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0, 0, 0.1) ;
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #000 ;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    font-weight: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #2DAB96;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #2DAB76;
}

@media screen and (max-width: 950px){
    .contact-section {
        flex-direction: column;
        background-position: center;
        justify-content: center;
        background-image: none;
    }
    .contact-info, .contact-form {
        margin: 30px 50px;
    }
    .contact-form .titulosecu {
        font-size: 30px;
    }
    .contact-form .text-box {
        width: 100%;
    }
}
